<style>
    @font-face {
        font-family: Raleway;
        src: url(../fonts/Raleway-Light.ttf);
    }
    
    body {
        font-family: 'Raleway', sans-serif;
        overflow-x: hidden;
        font-weight: 300;
        font-size: 16px;
        font-style: normal;
        scrollbar-face-color: #b46868;
        color: #455a64;
        background: #F0F0F0;
    }
    
    .centerthing {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    table {
        border: none;
        border-color: transparent;
        outline: 0;
    }
    
    table thead th {
        font-size: 13px;
        border-bottom: 1px solid #474747;
    }
    
    table tr {
        font-size: 12px;
    }
    
    table td {
        font-size: 13px;
    }
    
    .form-control {
        border: none;
        border-color: transparent;
        outline: 0;
        font-size: 15px;
        width: 150px;
    }
</style>

<div class="row nav-button-container tab-pane fade in active" role="tabpanel" id="patient-detailes">
    <div id="print">
        <div class="col-sm-12 centerthing">
            <div class="noticeboard">
                <div class="noticeboard-header content-header">
                    <!-- <img src="<?php echo base_url()?>others/images/rangpur_logo.png" style="max-width: 80px;" alt="logo_cmh"> -->
                    <h3 style="font-size: 15px;">Combined Military Hospital, Rangpur </h3>
                    <!-- <h4>CMH, Rangpur Cantonment , Combined Military Hospital</h4>
                    <h4>Rangpur, Rajshahi Division - 5400</h4> -->
                    <!--                <i class="fa fa-info-circle" aria-hidden="true"></i> Patients Detailes-->
                </div>

            </div>
        </div>
        <div style="margin-left: 80%;">
            <div>
                <div class="" style="font-size: 10px;">
                    <div class="form-group">
                        <label for="patient-id" class="control-label">Pr. ID :</label>
                        <span><?php echo $prescription['prescription_id']; ?></span>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: -2%;">
            <div>
                <div class="" style="font-size: 10px;">
                    <div class="form-group">
                        <label for="patient-id" class="control-label">Date :</label>
                        <span><?php echo $prescription['prescribe_time']; ?></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div style="padding-bottom: 20px;">
                    <!--<table style="border: 1px solid #000; width: 100%;">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="12" for="patient-name"><b>Name: </b>
                                    <?php echo $patient_details['name'] ;?> </td>
                            </tr>

                            <tr>
                                <td colspan="1" for="patient-id"><b> Patient ID: </b>
                                    <?php echo $patient_details['patient_id'];?>
                                </td>
                                <td colspan="1" for="patient-address" class="control-label"><b>Rank: </b>
                                    <?php echo $patient_details['rank']; ?>
                                </td>
                                <td colspan="2" for="patient-dob"><b>Army No: </b>
                                    <?php echo $patient_details['army_no']; ?>
                                </td>
                                <td colspan="3" for="patient-phone" class="control-label"><b>Unit: </b>
                                    <?php echo $patient_details['unit'];?>
                                </td>

                            </tr>

                            <tr>
                                <td for="patient-address" class="control-label"><b>Age: </b>
                                    <?php echo $patient_details['age'];?>
                                </td>
                                <td for="patient-name"><b>Gender: </b>
                                    <?php echo $patient_details['sex'];?>
                                </td>
                                <td for="patient-dob"><b>Blood Group: </b>
                                    <?php echo $patient_details['blood_group'];?>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                    <br>
                    
                    <?php 
                        if($cheif_complaint!='')
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Chief Complaints :</b>
                                    <?php echo $cheif_complaint;?>
                                </td>
                             
                            </tr>

                            
                            
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
                    <?php
                        if($drug_history!='')
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Drug History :</b>
                                    <?php echo $drug_history;?>


                                </td>
                             
                            </tr>
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
                    <?php
                        if($appearance!=''|| $decubitus!='' || $cooperation!='' || $bodybuilt!='' || $nutritional_status!=''|| $anaemia!='' || $jaundice!='' || $cyanosis!='' || $clubbing!=''|| $koilonychia!='' || $leuconychia!='' || $oedema!='' || $dehydration!=''|| $skin_condition!='' || $hair_distribution!='' || $deformities!='' || $lymph_node!=''|| $pulse!='' || $bp!='' || $respiration!='' ||  $temperature!=''|| $others!='')
                            {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                            
                        </thead>
                        <tbody>
                        <?php
                            if($appearance!=''|| $decubitus!='' || $cooperation!='' || $bodybuilt!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($appearance!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Appearance: </b>
                                    <?php echo $appearance;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($decubitus!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Decubitus: </b>
                                    <?php echo $decubitus;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($cooperation!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Cooperation: </b>
                                    <?php echo $cooperation;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($bodybuilt!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Bodybuilt: </b>
                                    <?php echo $bodybuilt;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        <?php
                            if($nutritional_status!=''|| $anaemia!='' || $jaundice!='' || $cyanosis!='')
                            {
                        ?>

                            <tr>
                                <?php
                                    if($nutritional_status!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Nutritional Status: </b>
                                    <?php echo $nutritional_status;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($anaemia!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Anaemia: </b>
                                    <?php echo $anaemia;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($jaundice!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Jaundice: </b>
                                    <?php echo $jaundice;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($cyanosis!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Cyanosis: </b>
                                    <?php echo $cyanosis;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        <?php
                            if($clubbing!=''|| $koilonychia!='' || $leuconychia!='' || $oedema!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($clubbing!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Clubbing : </b>
                                    <?php echo $clubbing;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($koilonychia!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Koilonychia: </b>
                                    <?php echo $koilonychia;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($leuconychia!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Leuconychia: </b>
                                    <?php echo $leuconychia;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($oedema!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Oedema : </b>
                                    <?php echo $oedema;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        <?php
                            if($dehydration!=''|| $skin_condition!='' || $hair_distribution!='' || $deformities!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($dehydration!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Dehydration: </b>
                                    <?php echo $dehydration;?>
                                </td>
                                 <?php
                                    }
                                ?>
                                <?php
                                    if($skin_condition!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Skin Condition: </b>
                                    <?php echo $skin_condition;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($hair_distribution!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Hair Distribution: </b>
                                    <?php echo $hair_distribution;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($deformities!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Deformities: </b>
                                    <?php echo $deformities;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        <?php
                            if($lymph_node!=''|| $pulse!='' || $bp!='' || $respiration!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($lymph_node!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Lymph Node: </b>
                                    <?php echo $lymph_node;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($pulse='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Pulse: </b>
                                    <?php echo $pulse?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($bp!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>BP: </b>
                                    <?php echo $bp;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($respiration!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Respiration: </b>
                                    <?php echo $respiration;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                         <?php
                            if($temperature!=''|| $others!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($temperature!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Temp : </b>
                                    <?php echo $temperature;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($others!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Others: </b>
                                    <?php echo $others;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
                    
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                            
                        </thead>
                        <tbody>
                        
                        <?php
                            if($var!=''|| $val!='' || $eyelid!='' || $eyelash!='')
                            {
                        ?>

                            <tr>
                                <?php
                                    if($var!='')
                                    {
                                ?>

                                <td colspan="2" for="patient-id"><b>VAR </b>
                                    <?php echo $var;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($val!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>VAL: </b>
                                    <?php echo $val;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($eyelid!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Eyelid: </b>
                                    <?php echo $eyelid;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($eyelash='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Eyelash: </b>
                                    <?php echo $eyelash;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        <?php
                            if($cornea!=''|| $conjunctiva!='' || $anterior_seg!='' || $lens='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($cornea!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Cornea : </b>
                                    <?php echo $cornea;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($conjunctiva!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Conjunctiva: </b>
                                    <?php echo $conjunctiva;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($anterior_seg!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Anterior Segment: </b>
                                    <?php echo $anterior_seg;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($lens!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Lens : </b>
                                    <?php echo $lens;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        <?php
                            if($fundus=''|| $orbit!='' || $lacrimal_gland!='' || $retina!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($fundus!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Fundus: </b>
                                    <?php echo $fundus;?>
                                </td>
                                 <?php
                                    }
                                ?>
                                <?php
                                    if($orbit!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Orbit: </b>
                                    <?php echo $orbit;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($lacrimal_gland!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Lacrimal Gland: </b>
                                    <?php echo $lacrimal_gland;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($retina!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Retina: </b>
                                    <?php echo $retina;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        <?php
                            if($vitreous!=''|| $optic_disc!='' || $iris!='' || $pupil!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($vitreous!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Vitreous: </b>
                                    <?php echo $vitreous;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($optic_disc!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Optic Disc: </b>
                                    <?php echo $optic_disc;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($iris!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Iris: </b>
                                    <?php echo $iris;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($pupil!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Pupil: </b>
                                    <?php echo $pupil;?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                         <?php
                            if($posterior_seg!=''|| $eye_others!='')
                            {
                        ?>
                            <tr>
                                <?php
                                    if($posterior_seg!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-id"><b>Posterior Segment: </b>
                                    <?php echo $posterior_seg;?>
                                </td>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($eye_others!='')
                                    {
                                ?>
                                <td colspan="2" for="patient-address" class="control-label"><b>Others: </b>
                                    <?php echo $eye_others?>
                                </td>
                                <?php
                                    }
                                ?>
                            </tr>
                        <?php
                            }
                        ?>
                        </tbody>     
                    </table>
                    
                    <?php
                        if($past_history!='')
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Past History :</b>
								
								
                                
                                        <?php 
										
										
										 foreach ($past_history as $key) {
                                                                if($key == 'Diabetes Mellitus')
                                                                    $res1 = 'Diabetes Mellitus';
                                                                else if($key == 'Hypertension')
                                                                    $res2 = 'Hypertension';
                                                                else if($key == 'Hronchial Asthma')
                                                                    $res3 = 'Hronchial Asthma';
                                                                else if($key == 'Cerebrovascular Disease')
                                                                    $res4 = 'Cerebrovascular Disease';
                                                                
                                                            }
										?>
                                </td>
                             
                            </tr>

                            
                            
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
                    <?php
                        if($diagnosis!='')
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Diagnosis : </b>
                                    <?php echo $diagnosis;?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
                    <?php
                        if((isset($lab) && count($lab)>0) || isset($lab))
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 5px;">

                        <thead>
                            <tr>
                                <th>Sl.</th>
                                <th style="text-align: left; padding-left: 50px;">Investigation</th>
                            </tr>

                        </thead>
                        <tbody id="new2">
                            <?php
                                $count = 1;
                                //$length = count($prescribed_medicine);
                                foreach ($lab as $key):
                                ?>
                                <tr class="centerthing">
                                    <td style="font-size: 12px; width: 20px; border-right: 1px solid #474747;">
                                        <?php echo $count++;?>
                                    </td>

                                    <td style="font-size: 12px; padding-left: 50px;">
                                        <span><?php echo $key;?></span>
										
                                    </td>

                                </tr>
                                <?php endforeach; ?>
								
								
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
					
					
                   
                    
                    <?php
                        if($heart!='' || $lung!='' || $liver!='' || $spleen!='' || $systemic_others!='')
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                        <tr>
                            <td style="border-bottom:  1px solid #000; width: 100%">Systemic Examination (Medicine) </td>
                        </tr>
                        </thead>
                        <tbody>
                            <?php
                                if($heart!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Heart: </b>
                                    <?php echo $heart;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($lung!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Lung: </b>
                                    <?php echo $lung;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($liver!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Liver: </b>
                                    <?php echo $liver;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($spleen!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Spleen: </b>
                                    <?php echo $spleen;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($systemic_others!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Others: </b>
                                    <?php echo $systemic_others;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
                     <?php
                        if($skin!='' || $mucous_mem!='' || $hair!='' || $nail!='' )
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                        <tr>
                            <td style="border-bottom:  1px solid #000; width: 100%">General & Systemic Examination (Dermatology) </td>
                        </tr>
                        </thead>
                        <tbody>
                            <?php
                                if($skin!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Skin: </b>
                                    <?php echo $skin;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($mucous_mem!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Mucous Membrane: </b>
                                    <?php echo $mucous_mem;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($hair!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Hair: </b>
                                    <?php echo $hair;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($nail!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Nail: </b>
                                    <?php echo $nail;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            
                            
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>

                    <?php
                        if($higher_psychic_func!='' || $cranial_nerve!='' || $sensory_system!='' || $motor_sys!='' || $cerebellar_func!='' || $sign_of_meningeal!='' || $psy_others!='')
                        {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                        <tr>
                            <td style="border-bottom:  1px solid #000; width: 100%">Systemic Examination (Psychiatry) </td>
                        </tr>
                        </thead>
                        <tbody>
                         <h3><u><b>Nervous System Exam</b></u></h3>
                            <?php
                                if($higher_psychic_func!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Higher Psychic Function : </b>
                                    <?php echo $higher_psychic_func;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($cranial_nerve!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Cranial Nerves :  </b>
                                    <?php echo $cranial_nerve;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($sensory_system!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Sensory System: </b>
                                    <?php echo $sensory_system;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($motor_sys!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Motor System : </b>
                                    <?php echo $motor_sys;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($cerebellar_func!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Cerebellar Function:</b>
                                    <?php echo $cerebellar_func;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($sign_of_meningeal!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Signs of Meningeal Irritation :</b>
                                    <?php echo $sign_of_meningeal;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                            <?php
                                if($psy_others!='')
                                {
                            ?>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Others:</b>
                                    <?php echo $psy_others;?>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>
                    <?php
                        if($appearance_mse!=''|| $eye_to_eye_con!='' || $gaze!='' || $posture!='' || $co_operation!=''|| $behavior!='' || $orientation!=''  || $rate_quantity!=''|| $flow_of_speech!='' || $diff_with_speaking!='' || $content_of_speech!='' || $mood!=''|| $delusion!='' || $obsession!='' || $compulsion!='' || $hallucination!=''|| $iiiusion!='' || $memory!='' || $att_n_con!='' ||  $insight!=''|| $psy_others_2!='')
                            {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                            
                        </thead>
                        <tbody>
                        
                            
                        <tr>
                        <td>
                            <h3><b><u>MSE</u></b></h3>
                            </td>
                        </tr>
                                <?php
                                    if($appearance_mse!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>Appearance : </b>
                                    <?php echo $appearance_mse;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($eye_to_eye_con!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>Eye to eye contact: </b>
                                    <?php echo $eye_to_eye_con;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($gaze!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>Gaze : </b>
                                    <?php echo $gaze;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                
                       
                                <?php
                                    if($posture!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>Posture: </b>
                                    <?php echo $posture;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($co_operation!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>Co-operation : </b>
                                    <?php echo $co_operation;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($behavior!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>Behavior: </b>
                                    <?php echo $behavior;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                          
                            <?php
                                    if($orientation!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>Orientation to time, place, person: </b>
                                    <?php echo $orientation;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>

                                <?php
                                if($rate_quantity!=''|| $flow_of_speech!='' || $diff_with_speaking!='' || $content_of_speech!='')
                                    {
                                ?> 
                                <tr>
                                    <td>
                                        <h4><b><u>Speech</u></b></h4>
                                    </td>
                                </tr>
                               
                                <tr >
                                <td colspan="2" for="patient-id" style="padding-left: 20px;"><b>a. Rate & quantity : </b>
                                    <?php echo $rate_quantity;?>
                                </td>
                                </tr>
                                
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label" style="padding-left: 20px;"><b>b. Flow of speech : </b>
                                    <?php echo $flow_of_speech;?>
                                </td>
                                </tr>
                                
                                <tr>
                                <td colspan="2" for="patient-id" style="padding-left: 20px;"><b>c. Difficulties with speaking: </b>
                                    <?php echo $diff_with_speaking;?>
                                </td>
                                </tr>
                               
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label" style="padding-left: 20px;"><b>d. Content of speech: </b>
                                    <?php echo $content_of_speech;?>
                                </td>
                                </tr>
                                
                                <?php
                                    }
                                ?>
                                <?php
                                    if($mood!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>Mood:</b>
                                    <?php echo $mood;?>
                                </td>
                                </tr>
                                 <?php
                                    }
                                ?>
                                
                             <?php
                                if($delusion!=''|| $obsession!='' || $compulsion!='')
                                {
                             ?>   
                            
                                <tr><td><h4><b><u>Thought Disturbances</u></b></h4></td></tr>
                            
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label" style="padding-left: 20px;"><b>a. Delusion : </b>
                                    <?php echo $delusion;?>
                                </td>
                                </tr>
                               
                                <tr>
                                <td colspan="2" for="patient-id" style="padding-left: 20px;"><b>b. Obsession: </b>
                                    <?php echo $obsession;?>
                                </td>
                                </tr>
                                
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label" style="padding-left: 20px;"><b>c. Compulsion : </b>
                                    <?php echo $compulsion;?>
                                </td>
                                </tr>
                                
                            <?php
                                }
                            ?>
                            <?php
                                if( $hallucination!='' || $iiiusion!='')
                                {
                             ?>
                            <tr>
                            <td>
                            <h4><b><u>Perceptual Disturbance</u></b></h4>
                            </td>
                            </tr>
                                <tr>
                                <td colspan="2" for="patient-id" style="padding-left: 20px;"><b>a. Hallucination : </b>
                                    <?php echo $hallucination;?>
                                </td>
                                </tr>
                               
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label" style="padding-left: 20px;"><b>b. Illusion: </b>
                                    <?php echo $iiiusion;?>
                                </td>
                                </tr>
                                
                            <?php
                                }
                            ?>
                                <?php
                                    if($memory!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>Memory: </b>
                                    <?php echo $memory;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($att_n_con!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>Attention & concentration: </b>
                                    <?php echo $att_n_con;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                            
                                <?php
                                    if($insight!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>Insight : </b>
                                    <?php echo $insight;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($psy_others_2!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>Others: </b>
                                    <?php echo $psy_others_2;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                
                            
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>

                    <?php
                        if($ent_eac!=''|| $ent_tm!='' || $ent_rinne!='' || $ent_weber!='' || $ent_abc!=''|| $ent_facial!='' || $ent_others!=''  || $entanterior!=''|| $ent_posterior!='' || $ent_nasal!='' || $ent_nasendoscopy!='' || $ent_tranillumination!=''|| $ent_others_nose!='' || $ent_indirect!='' || $ent_fiber!='')
                            {
                    ?>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                    <tbody>
                    <tr>
                    <?php
                        if($ent_eac!=''|| $ent_tm!='' || $ent_rinne!='' || $ent_weber!='' || $ent_abc!=''|| $ent_facial!='' || $ent_others!='')
                        {
                     ?> 
                    <td>
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                            
                        </thead>
                        <tbody>
                        
                            
                        <tr>
                        <td>
                            <h3><b><u>Systemic Examination (Ear)</u></b></h3>
                            </td>
                        </tr>
                        <?php 
                        	if($ent_eac!='' || $ent_tm!='')
                        	{
                        ?>
                        <tr>
                        <td>
                            <h4><b><u>1.  Otoscopic/Otoendoscopic/Miscroscopic examination:</u></b></h4>
                            </td>
                        </tr>
                                
                                <tr>
                                <td colspan="2" for="patient-id" style="padding-left: 5px;"><b>a. EAC : </b>
                                    <?php echo $ent_eac;?>
                                </td>
                                </tr>
                               
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label" style="padding-left: 5px;"><b>b. TM :</b>
                                    <?php echo $ent_tm;?>
                                </td>
                                </tr>
                                
                            <?php
                                }
                            ?>

                                <?php
                                    if($ent_rinne!='' || $ent_weber!='' || $ent_abc!='')
                                    {
                                ?>
                                <tr>
                        <td>
                            <h4><b><u>2.  Tuning Fork Test:</u></b></h4>
                            </td>
                        </tr>
                                <tr>
                                <td colspan="2" for="patient-id" style="padding-left: 5px;"><b>a.  Rinne:  </b>
                                    <?php echo $ent_rinne;?>
                                </td>
                                </tr>

                                <tr>
                                <td colspan="2" for="patient-address" class="control-label" style="padding-left: 5px;"><b>b.  Weber: </b>
                                    <?php echo $ent_weber;?>
                                </td>
                                </tr>
                                
                                <tr>
                                <td colspan="2" for="patient-id" style="padding-left: 5px;"><b>c.  ABC: </b>
                                    <?php echo $ent_abc;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($ent_facial!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>3.  Facial N test: </b>
                                    <?php echo $ent_facial;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                          
                            <?php
                                    if($ent_others!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>4. Others:  </b>
                                    <?php echo $ent_others;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
   
                        </tbody>
                        
                        </table>

                     

                        </td>

                        <?php
                            }
                     	?>

 					<?php 
                    	if($entanterior!=''|| $ent_posterior!='' || $ent_nasal!='' || $ent_nasendoscopy!='' || $ent_tranillumination!=''|| $ent_others_nose!='' || $ent_indirect!='' || $ent_fiber!='')
                    	{

                    ?>
                        <td>

                   
                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>
                            
                        </thead>
                        <tbody>
                        
                          <?php 
                          	if($entanterior!=''|| $ent_posterior!='' || $ent_nasal!='' || $ent_nasendoscopy!='' || $ent_tranillumination!=''|| $ent_others_nose!='')
                          	{
                          ?>  
                        <tr>
                        <td>
                            <h3><b><u>Systemic Examination (Nose & PNS)</u></b></h3>
                            </td>
                        </tr>
                        
                                <?php
                                    if($entanterior!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>1.   Anterior Rhinoscopy:</b>
                                    <?php echo $entanterior;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($ent_posterior!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>2.   Posterior Rhinoscopy:</b>
                                    <?php echo $ent_posterior;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($ent_nasal!='')
                                    {
                                ?>
                                
                                <tr>
                                <td colspan="2" for="patient-id" ><b>3.   Nasal Probing: </b>
                                    <?php echo $ent_nasal;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                
                           
                        
                       
                                <?php
                                    if($ent_nasendoscopy!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>4.   Nasendoscopy: </b>
                                    <?php echo $ent_nasendoscopy;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($ent_tranillumination!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>5.   Tranillumination Test: </b>
                                    <?php echo $ent_tranillumination;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($ent_others_nose!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-address" class="control-label"><b>6.   Others: </b>
                                    <?php echo $ent_others_nose;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                            <?php
                                }
                            ?>
                       <?php 

                       if($ent_indirect!='' || $ent_fiber!='')
                       {
                       ?>

                       <tr>
                            <td>
                            	<h3><b><u>Systemic Examination (Throat & Neck)</u></b></h3>
                            </td>
                       </tr>
                            <?php
                                    if($ent_indirect!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>1.  Indirect Laryngoscope:  </b>
                                    <?php echo $ent_indirect;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
                                <?php
                                    if($ent_fiber!='')
                                    {
                                ?>
                                <tr>
                                <td colspan="2" for="patient-id"><b>2.   Fiber Optic Laryngoscope:  </b>
                                    <?php echo $ent_fiber;?>
                                </td>
                                </tr>
                                <?php
                                    }
                                ?>
  							<?php
                                }
                            ?>
                        </tbody>
                        
                        </table>
                       


                        </td>
 						<?php
                        	}
                        ?>
                        
                        </tr>
                        </tbody>
                    </table>

                    <?php
                        }
                    ?>
                    <?php
                        if(isset($tab_count) && count($tab_count)>0)
                        {
                    ?>
                    <table style="border: 1px solid #000;  width: 100%; margin-top: 1%;">
                        <thead>
                            <tr>
                                <th>Sl.</th>
                                <th>Medicine</th>
                                <th>Dose</th>
                                <th>Duration</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody id="new">
                               <?php
                                  if(isset($tab_count))
                                  {
                                     for($i = 0; $i < $tab_count; $i++) {
                                    ?>
                                        
                                <tr>
                                    <td style="font-size: 12px;">
                                        <?php echo $count++;?>
                                    </td>
                                    <td style="border-left: 1px solid grey; font-size: 12px;">
                                        <span><?php echo $tab_medicine[$i]; ?></span>
                                    </td>
                                    <td style="border-left: 1px solid grey; font-size: 12px;">
                                        <span><?php echo $tab_dose[$i]; ?></span>
                                    </td>
                                    <td style="border-left: 1px solid grey; font-size: 12px;">
                                        <span><?php echo $tab_duration[$i]; ?></span>
                                    </td>
                                    <td style="border-left: 1px solid grey; font-size: 12px;">
                                        <span><?php echo $tab_remarks[$i]; ?></span>
                                    </td>
                                </tr>
                                <?php
                                    }
                                }
                                ?>
                        </tbody>
                    </table>
                     <?php
                        }
                    ?>

                    <?php
                        if($past_investigation!='')
                        {
                    ?>

                    <table style="border: 1px solid #000; width: 100%; margin-top: 2%;">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" for="patient-id"><b>Past Investigation </b>
                                    <?php echo $past_investigation;?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                        }
                    ?>

                    
                    

                    <br>
                    <div style="font-size: 12px;">
                       
                        <?php
                            if($disposal_type!='')
                            {
                        ?>
                        <b>Disposal: </b> <span><?php echo $disposal_type;?>-<?php echo $disposal;?></span>
                        <br>
                        <?php
                            }
                        ?>
                        <?php
                            if($comment!='')
                            {
                        ?>
                        <b>Advices: </b> <span><?php echo $comment;?></span>
                        <br>
                        <?php
                            }
                        ?>
                    </div>

                    <div style="border-top: 1px solid #000; width: 250px; margin-left: 80%;">
                        
                    </div>
                
                </div>
                
            </div>
        </div>

        <?php
            if($right_eye_sph_1!='' || $right_eye_cyl_1!='' || $right_eye_axis_1!='' || $right_eye_va_1!='' || $left_eye_sph_1!='' || $left_eye_cyl_1!='' || $left_eye_axis_1!='' || $left_eye_va_1!='' || $right_eye_sph_2!='' || $right_eye_cyl_2!='' || $right_eye_axis_2!='' || $right_eye_va_2!='' || $left_eye_sph_2!='' || $left_eye_cyl_2!='' || $left_eye_axis_2!='' || $left_eye_va_2!='' || $ipd!='' || $lenss!='' || $instruction!='' || $distance!='')
            {
        ?>
        <div class="col-sm-12 centerthing" style="border-top: 1px dashed black">
        <br>
        <div class="noticeboard">
                <div class="noticeboard-header content-header">
                    
                    <h3 style="font-size: 15px; margin-top:0px;  margin-bottom:3px;">DEPARTMENT OF OPHTHALMOLOGY </h3>
                    <h4 style="font-size: 13px; margin-top:0px;  margin-bottom:3px;">Combined  Military Hospital, Rangpur </h3>
                    <h4 style="font-size: 13px; margin-top:0px;  margin-bottom:10px;">SPECTACLE  PRESCRIPTION </h3>
                    <!-- <h4>CMH, Rangpur Cantonment , Combined Military Hospital</h4>
                    <h4>Rangpur, Rajshahi Division - 5400</h4> -->
                    <!--                <i class="fa fa-info-circle" aria-hidden="true"></i> Patients Detailes-->
                </div>
                <!--<table style="border: 1px solid #000; width: 100%;">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="12" for="patient-name"><b>Name: </b>
                                    <?php echo $patient_details['name'] ;?> </td>
                            </tr>

                            <tr>
                                <td colspan="1" for="patient-id"><b> Patient ID: </b>
                                    <?php echo $patient_details['patient_id'];?>
                                </td>
                                <td colspan="1" for="patient-address" class="control-label"><b>Rank: </b>
                                    <?php echo $patient_details['rank']; ?>
                                </td>
                                <td colspan="2" for="patient-dob"><b>Army No: </b>
                                    <?php echo $patient_details['army_no']; ?>
                                </td>
                                <td colspan="3" for="patient-phone" class="control-label"><b>Unit: </b>
                                    <?php echo $patient_details['unit'];?>
                                </td>

                            </tr>

                            <tr>
                                <td for="patient-address" class="control-label"><b>Age: </b>
                                    <?php echo $patient_details['age'];?>
                                </td>
                                <td for="patient-name"><b>Gender: </b>
                                    <?php echo $patient_details['sex'];?>
                                </td>
                                <td for="patient-dob"><b>Blood Group: </b>
                                    <?php echo $patient_details['blood_group'];?>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
       <br>
                <table width="100%" style="border: 1px solid black; padding: 0px; text-align: center;">
                    <thead>
                        <tr>
                        
                        <th colspan="4">Rght Eye (OD)</th>
                    
                        <th></th>
                                            
                        <th colspan="4">Left Eye (OS)</th>
                        
                      </tr>
                    </thead>
                      <tr style="padding: 0px;">
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;">SPH </th>
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;">CYL</th>
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;">AXIS</th>
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;">VA</th>
                        <th></th>
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">SPH</th>
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;">CYL</th>
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;">AXIS</th>
                        <th style="border-bottom: 1px solid #000;border-right: 1px solid #000;">VA</th>
                      </tr>
                      <tr>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_cyl_1;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_cyl_1;?> </td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_axis_1;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_va_1;?></td>
                        <td style="border-bottom: 1px solid #000;">DV</td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000"><?php echo $left_eye_sph_1;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $left_eye_cyl_1;?> </td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $left_eye_axis_1;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $left_eye_va_1;?></td>
                        
                      </tr>
                      <tr>
                        
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_sph_2;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_cyl_2;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_axis_2;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $right_eye_va_2;?></td>
                        <td style="border-bottom: 1px solid #000;">NV</td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000"><?php echo $left_eye_sph_2;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $left_eye_cyl_2;?> </td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $left_eye_axis_2;?></td>
                        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;"><?php echo $left_eye_va_2;?></td>
                        
                      </tr>
                      
                </table>
<table style=" width: 100%;">
                <thead>
                <th>
                </th>
                </thead>
                <tbody>
                <tr>
                    <td><u>Remarks:</u></td>
                </tr>
                    <tr>
                        <td colspan="12" for="patient-name" style="font-size: 12px;"><b>I.P.D : </b>
                         <?php echo $ipd;?> mm
                            </td> 
                            
                    </tr>

                    <tr>
                        <td colspan="12" for="patient-id" style="font-size: 12px;"><b>Lens: </b>
                            <?php echo $lenss;?>
                        </td>
                        

                    </tr>
                    <tr>
                        <td colspan="12" for="patient-id" style="font-size: 12px;"><b>Instruction:</b>
                            <?php echo $instruction;?>
                        </td>
                        

                    </tr>
                    <tr>
                        <td colspan="10" for="patient-id" style="font-size: 12px;"><b> </b>
                            <?php echo $distance;?>
                        </td>
                        

                    </tr>
                    

                </tbody>
            </table>
            <p style="font-size: 12px;">** Please Preserve This For Future  Reference **</p>
            </div>
            <div style="border-top: 1px solid #000; width: 250px; margin-left: 80%;">
                        <br>
                    </div>

        </div>

        <?php
            }
        ?>
        <?php
            if(isset($medicines) && count($medicines)>0)
            {
        ?>
        <div class="table" style="border-top: 1px dashed black">
            <br>
            <div style="margin-left: 80%;">
            <div>
                <div class="" style="font-size: 10px;">
                    <div class="form-group">
                        <label for="patient-id" class="control-label">Pr. ID :</label>
                        
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: -2%;">
            <div>
                <div class="" style="font-size: 10px;">
                    <div class="form-group">
                        <label for="patient-id" class="control-label">Date :</label>
                        <span><?php echo date('Y-m-d H:i:s') ?></span>
                    </div>
                </div>
            </div>
        </div>
            <!--<table style="border: 1px solid #000; width: 100%;">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <td colspan="12" for="patient-name"><b>Name: </b>
                            <?php echo $patient_details['name'] ;?></td>
                       
                    </tr>

                    <tr>
                        <td colspan="1" for="patient-id"><b>ID: </b>
                            <?php echo $patient_details['patient_id'];?>
                        </td>
                        <td colspan="1" for="patient-address" class="control-label"><b>Rank: </b>
                            <?php echo $patient_details['rank']; ?>
                        </td>
                        <td colspan="2" for="patient-dob"><b>Army No: </b>
                            <?php echo $patient_details['army_no']; ?>
                        </td>
                        <td colspan="3" for="patient-phone" class="control-label"><b>Unit: </b>
                            <?php echo $patient_details['unit'];?>
                        </td>

                    </tr>

                </tbody>
            </table>-->
            <div>
                <table style="border: 1px solid #000; width: 100%; margin-top: 1%;">

                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th style="text-align: left; padding-left: 50px;">Medicine</th>
							<th style="text-align: left; padding-left: 50px;">Dose</th>
							<th style="text-align: left; padding-left: 50px;">Duration</th>
							<th style="text-align: left; padding-left: 50px;">Remarks</th>
                        </tr>

                    </thead>
                    <tbody id="new">
                        <?php 
                            $count=1;
                            foreach ($medicines as $key):
                        ?>
                            <tr class="centerthing">
                                <td style="font-size: 12px; width: 20px; border-right: 1px solid #474747;">
                                    <?php echo $count++;?>
                                </td>

                                <td style="font-size: 12px; padding-left: 50px; ">
                                    <span><?php echo $key['med_name']?></span>
                                </td>
                                <td style="border-left: 1px solid grey; font-size: 12px;">
                                    <span><?php echo $key['dose'];?></span>
                                </td>
                                <td style="border-left: 1px solid grey; font-size: 12px;">
                                    <span><?php echo $key['duration'];?></span>
                                </td>
                                <td style="border-left: 1px solid grey; font-size: 12px;">
                                    <span><?php echo $key['remarks'];?></span>
                                </td>

                            </tr>
                            <?php endforeach; ?>
                    </tbody>
                </table>
            </div>

        </div>
        <br>
        <br>
                    <div style="border-top: 1px solid #000; width: 250px; margin-left: 80%;">
                        <br>
                    </div>

        <?php
            }
        ?>

    </div>