<!DOCTYPE html>
<html>

<!-- Mirrored from localhost/o2core/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Nov 2016 08:51:35 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/scripts/template/front/img/fav.png" type="image/x-icon">
<title>Privacy | medipith</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:100,400,300,300italic,400italic,500,700,900" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/scripts/template/front/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/scripts/template/front/css/theme.css" type="text/css" media="all" />
<!-- REVOLUTION CSS FILES 
<link rel="stylesheet" type="text/css" href="http://localhost/o2core/template/front/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="http://localhost/o2core/template/front/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="http://localhost/o2core/template/front/revolution/css/navigation.css">-->

<link rel="stylesheet" href="/scripts/template/front/css/custom.css" type="text/css" media="all" />

<link rel="stylesheet" type="text/css" href="/scripts/template/front/modal/css/sm.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/scripts/template/front/hover/css/stylesCode.css">
<link rel="stylesheet" type="text/css" href="/scripts/template/front/hover/css/style.css">


<!-- Owl Carousel Assets -->
<link href="/scripts/template/front/owl/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="/scripts/template/front/owl/owl-carousel/owl.theme.css" rel="stylesheet">
<link href="/scripts/template/front/owl/js/google-code-prettify/prettify.css" rel="stylesheet">

<script type="text/javascript" src="/scripts/template/front/js/jquery.min.js"></script> 
<script type="text/javascript" src="/scripts/template/front/modal/js/jquery.slick-modals.js"></script>
</head>

<body>
<!----------------------------------->

<!-- MODALS -->
<div id="main_header" class="type1">
<div class="header_parent_wrap" style="border-bottom: 1px solid #F1F1F1;">
    <header>
        <div class="container" style="height:50px !important;">
            <div class="logo_sect">
                <a href="<?php echo base_url();?>" class="logo"><img style="max-width: 150px;" src="/scripts/template/front/img/logo.png" class="logo_def" alt="" /></a>
            </div>
            <div class="fright">
                <nav>
                    <ul class="menu">
                        <li class=""><a href="<?php echo base_url();?>">Home</a>
                            <div class="sub-nav">

                            </div>
                        </li>
                        <li class="menu-item-has-children"><a href="<?php echo base_url();?>#about">About us</a>
                            <div class="sub-nav">

                            </div>
                        </li>

                        <li class="menu-item-has-children" style="display:none"><a href="" type="button" data-toggle="modal" data-target="#signup">Sign Up</a>
                            <div class="sub-nav">

                            </div>
                        </li>
                        <li class="menu-item-has-children"><a href="<?php echo base_url();?>Main/contactus">Contact us</a>
                        </li>
                        <!--<li class="menu-item-has-children"><a style="background-color: #15b2a7; color: #ffffff; border-radius: 5px; padding:8px; margin-top: -8px;" href="<?php echo base_url();?>demo" type="button">Demo</a>
                            <div class="sub-nav">

                            </div>
                        </li>-->
                        
                    </ul>
                </nav>
                <div class="cart_in_header"></div><div class="socials_in_header"></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
</div>
</div>

<div id="popup-1" class="slickModal">
    <div class="window row" style="min-height:500px;">
        <!-- Your popup content -->
        <div class="wrap col-md-12" style="">
            <div class="title">
                <img src="/scripts/template/front/img/logo.png" class="logo_def" alt="">
            </div>
        </div>
        
        <div class="col-md-12 contact_form" style="margin-top:140px;">
            <div class="module_content contact_form">
                <div id="note1"></div>
                <div id="fields1">
                    <form class="ajax-contact-form1" action="#">
                        <input type="text" name="name1" value="" placeholder="Name *" />
                        <input type="text" name="email1" value="" placeholder="Email *" />
                        <input type="text" name="subject1" value="" placeholder="Subject" />
                        <textarea name="message1" id="message" placeholder="Message *" style="border: 2px #eee solid;"></textarea>
                        <div class="comment_submit_wrap" style="margin-top: 5px;">
                            <input type="submit" value="Send message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / Your popup content -->
    </div>
</div>
 
   <style>
   		.bord{
			border: 1px solid red !important;	
		}
   </style>
   <script>
   		var base_url = '<?php echo base_url();?>';
   </script><div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar">
                <div class="page_title">
                    <h2>Privacy & Policy</h2>
                    <div class="icon_divider"></div>
                    <p></p>
                </div>
            	<div class="fl-container">
                	<div class="posts-block">

                        <p>Effective Date: February, 2015</p>
                        <p style="text-align: left;">
                            Intoiit,(hereinafter "medipith") takes your privacy seriously and has adopted this
                            Privacy Policy (hereinafter "Privacy Policy") to inform you of its collection, disclosure,
                            and use of personal and personally identifiable information through your use
                            of the medipith.com website and associated content (hereinafter "Website").
                        </p>

                        <p style="text-align: left;">
                            medipith may, from time to time, change, modify, amend, or replace this Privacy Policy.
                            In the event that medipith changes, modifies, amends, or replaces this Privacy Policy,
                            the Effective Date located above will change. Your use of the Website after a change in
                            the Effective Date constitutes your manifestation of assent to any change, modification, amendment,
                            or replacement of this Privacy Policy and the terms contained therein.
                        </p>

                        <p style="text-align: left;">
                            1. <strong>Information Collected</strong>

                        <p style="text-align: left;">
                            medipith may collect personal or personally identifiable information from you through your use of the Website, which may include but is not limited to your first name, last name, address, email address, date of birth, country, business name, website URL, IP address, geographical location, comments, links, posts, threads, feedback, reviews, photographs, interests, and preferences (collectively "Personal Information").
                        </p>
                        <p style="text-align: left;">
                            medipith may collect Personal Information from you through various channels, including but not limited to through your voluntary submission of information to the Website, through the collection and analysis of information concerning your computer and browsing activities, through the use of cookies, web beacons, and pixel tags, and through other sources permitted by law.
                        </p>
                        </p>

                        <p style="text-align: left;">
                            2. <strong>Use of Personal Information</strong>
                        <p style="text-align: left;">
                            medipith may use Personal Information collected from you to provide you with the Website, to respond to requests that you have initiated, to customize the Website or its associated services, to improve your experience on the Website, and to communicate with you to update you on medipith's Website or services.</br>
                            By providing any Personal Information to medipith, you understand and agree that medipith will collect and process your Personal Information in the United States; you provide your unequivocal consent to the collection and processing of your Personal Information in the United States.</br>
                            medipith may share your Personal Information: (1) with third parties where it has obtained your consent; (2) with third party service providers to provide you with services initiated at your request; (3) with medipith's parents, subsidiaries, successors, and assigns; and (4) with medipith's business partners who offer services through or in association with the Website.
                        </p>
                        <p style="text-align: left;">
                            Except as stated above, medipith will not sell, rent, lease, or transfer your Personal Information to any individual, business, or government entity except to respond to duly authorized information requests by government authorities, to respond to a duly authorized court order or subpoena, to protect the officers, directors, employees, shareholders, or independent contractors of medipith, or to help prevent against fraud or the violation of any applicable law, statute, regulation, ordinance, or treaty.
                            The Personal Information that you provide to medipith may be displayed on your profile page, which may be accessible to all users of the Website. You may limit third parties' ability to view your Personal Information by changing your Member Account settings.<br>
                            You understand and agree that medipith is not responsible for any third party links, content, or communications sent to you from entities or individuals that medipith does not own or control. You are advised to review the privacy policies of all third party websites.</br>
                        </p>

                        <p style="text-align: left;">
                            3. <strong>Use of Cookies and Other Tracking Techniques</strong>
                        <p style="text-align: left;">
                            medipith may collect Personal Information from you through the storage of data files on your computer called "cookies." These cookies allow the Website to recognize your computer when you revisit the Website. Additionally, medipith may collect Personal Information from you through the use of "session cookies," which help medipith track the pages that you visit during a single use of the Website to ensure that users are not required to re-enter their usernames and passwords upon accessing each page of the Website. These session cookies will expire once you leave the Website.
                            </br>
                            Your web browser may provide you with the ability to block or limit cookies. If you object to medipith's use of cookies, you are advised to adjust your web browser's settings accordingly.
                        </p>
                        <p style="text-align: left;">
                            medipith or its advertisers may also collect Personal Information from you through the use of pixel tags, web beacons, or other tracking techniques. This Personal Information may be used for advertising purposes, whether contextual or otherwise, and may be shared with medipith's advertisers to provide its advertisers with information on the demographics or preferences of the Website's users.
                        </p>
                        </p>

                        <p style="text-align: left;">
                            4. <strong>Accuracy of Information, User Choice and Opt-Out</strong>
                        <p style="text-align: left;">
                            In the event medipith allows you to create a Member Account, you will have the opportunity to update components of your Personal Information. You may opt-out of medipith's collection of your Personal Information by deleting your Member Account and by ceasing your use of the Website.
                        </p>
                        <p style="text-align: left;">
                            You are responsible for ensuring that your Personal Information is accurate, complete, current, and relevant. You have an ongoing duty to inform medipith of any changes in your Personal Information.</p>
                        </p>

                        <p style="text-align: left;">
                            5. <strong>Protection and Storage of Personal Information</strong>
                        <p style="text-align: left;">
                            medipith undertakes commercially reasonable procedures to help protect your Personal Information from disclosure. Though medipith takes the security of your Personal Information very seriously, medipith cannot guarantee that its servers and Website are completely secure. medipith uses commercially reasonable efforts to protect your Personal Information, but you provide any and all Personal Information at your own risk.
                        </p>
                        </p>

                        <p style="text-align: left;">
                            6. <strong>Purchase or Sale of a Business Unit or Subsidiary</strong>
                        <p style="text-align: left;">
                            medipith may, from time to time, purchase or sell a business unit or subsidiary. In the event medipith purchases or sells a business unit or subsidiary, your Personal Information may be transferred to a third party. If this occurs, your Personal Information will continue to be used consistent with the terms of this Privacy Policy.
                        </p>

                        </p>

                        <p style="text-align: left;">
                            7. <strong>California Privacy Rights</strong>
                        <p style="text-align: left;">
                            California residents have the right to receive information that identifies any third party companies or individuals that medipith has shared your Personal Information with in the previous calendar year, as well as a description of the categories of Personal Information disclosed to that third party. You may obtain this information once a year and free of charge by contacting medipith at privacy@medipith.com.
                        </p>
                        </p>
                        <p style="text-align: left;">
                            8. <strong>User Generated Content</strong>
                        <p style="text-align: left;">
                            You expressly agree that you will not use the Website or your Member Account to violate
                            any law, statute, ordinance, regulation, or treaty, to violate the rights of third parties,
                            or for a use outside of the customary and intended use of the Website or your Member Account.
                            Specifically, you are expressly prohibited from:
                        </p>
                        </p>
</br>
                        </p>


                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div> 
   </div>

   <script>
   		var base_url = '<?php echo base_url();?>';
   </script>
   
   <style>
   		.bord{
			border: 1px solid red !important;	
		}
   </style>


<div class="footer">
    <div class="pre_footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="sidepanel widget_text">
                        <h6 class="title">Contact Info</h6>
                        <div class="textwidget contact_text">
                            <div class="section col-sm-12">
                                <p class="section_title"><i class="fa fa-phone"></i> Phone Number:  +880 1977 755 833 (Bangladesh)
                                    </br><txt style="margin-left: 37%;">+1 800 533 8571 (USA)</txt></p>
                            </div>
                            <div class="section col-sm-12">
                                <p class="section_title"><i class="fa fa-map-marker"></i> Office:  Plot No. 1262, Road No. 9, Avenue No. 2, Mirpur DOHS, Dhaka.</p>
                            </div>
                            <div class="section col-sm-12">
                                <p class="section_title"><i class="fa fa-envelope"></i> Email:  <a href="mailto:#">contact@intoiit.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidepanel widget_nav_menu">
                        <h6 class="title">Useful Links</h6>
                        <ul>
                            <li><a href="<?php echo base_url();?>">Home</a></li>
                            <li><a href="<?php echo base_url();?>#about">About</a></li>
                            <li><a href="<?php echo base_url();?>Main/terms">Terms</a></li>
                            <li><a href="<?php echo base_url();?>Main/privacy">Privacy</a></li>
                            <li><a href="<?php echo base_url();?>Main/contactus">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="foot_info_block">
                <div class="logo_sect">
                    <a href="index.html" class="logo"><img src="/scripts/template/front/img/logo_white.png" class="logo_def" alt="" /><img src="/scripts/template/front/img/retina/logo_white.png" class="logo_retina" alt="" /></a>
                </div>
                <div class="copyright">Copyright &copy; 2015 Intoiit. All Rights Reserved.</div>
                <div class="foot_menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-2.html">About</a></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="showreel.html">Showreel</a></li>
                        <li><a href="portfolio_masonry.html">Portfolio</a></li>
                        <li><a href="blog_right_sidebar.html">Blog</a></li>
                        <li><a href="contact_sidebar.html">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="social_icons">
                <ul>
                    <li><span>Follow:</span></li>
                    <li><a class="soc_fb" href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a class="soc_tweet" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="soc_instagram" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="soc_dribbble" href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="soc_pinterest" href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="soc_flickr" href="javascript:void(0);"><i class="fa fa-flickr"></i></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="row reg-bg">
                    <div class="col-md-12 signup-box">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="head-text head-text-modal">Register Your Hospital</h3>

                    </div>
                    <div style="visibility: visible;" class="col-md-12">
                        <div class="fun-box">
                            <div id="res"></div>
                            <form>

                                <!--<form method="post" class="reply" id="contact" action="reg/registration">-->
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="row">



                                                <div class="col-md-12">
                                                    <input class="form-control" id="s_n" name="hms_name" placeholder="Your Name" value="" required="" type="text" maxlength="30" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="n" name="h_name" placeholder="Hospital/clinic name" value="" required="" maxlength="50" type="text" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="s_id" name="h_id" placeholder="Hospital/clinic ID" value="" required="" maxlength="30" type="text" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="e" name="email" placeholder="E-mail" value="" required="" type="email" maxlength="30" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="c_e" name="c_email" placeholder="Confirm E-mail" value="" required="" type="email" maxlength="30" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="password" id="p" placeholder="Password" value="" required="" type="password" maxlength="30" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="c_p" name="c_password" placeholder="Confirm Password" value="" required="" maxlength="30" type="password" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                            <!--</form>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <a type="" class="btn btn-login btn-reg" onClick="subitaas()">Register</a>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="/scripts/template/front/js/jquery-ui.min.js"></script>    
<script type="text/javascript" src="/scripts/template/front/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/template/front/js/modules.js"></script>
<script type="text/javascript" src="/scripts/template/front/js/theme.js"></script>
    
    <!-- REVOLUTION JS FILES --
    <script type="text/javascript" src="template/front/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION EXTENSIONS (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) --
    <script type="text/javascript" src="http://localhost/o2core/template/front/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="template/front/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!-- END SLIDER REVOLUTION EXTENSIONS -->
    
    <script src="/scripts/template/front/owl/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
		
	/* ================ Revolution Slider. ================ */
	if($('.tp-banner').length > 0){
		$('.tp-banner').show().revolution({
			delay:6000,
	        startheight: 750,
	        startwidth: 1008,
	        hideThumbs: 1000,
	        navigationType: 'none',
	        touchenabled: 'on',
	        onHoverStop: 'on',
	        navOffsetHorizontal: 0,
	        navOffsetVertical: 0,
	        dottedOverlay: 'none',
	        fullWidth: 'on',
	        hideTimerBar:'on'
		});
	}
	if($('.tp-banner-full').length > 0){
		$('.tp-banner-full').show().revolution({
			delay:6000,
	        hideThumbs: 1000,
	        navigationType: 'none',
	        touchenabled: 'on',
	        onHoverStop: 'on',
	        navOffsetHorizontal: 0,
	        navOffsetVertical: 0,
	        dottedOverlay: 'none',
	        fullScreen: 'on',
	        hideTimerBar:'on'
		});
	}
	/*
	if($('.creativeitem-product').length > 0){
		$('.creativeitem-product').show().revolution({
			delay:6000,
	        hideThumbs: 1000,
	        navigationType: 'none',
	        touchenabled: 'on',
	        onHoverStop: 'on',
	        navOffsetHorizontal: 0,
	        navOffsetVertical: 0,
	        dottedOverlay: 'none',
	        fullScreen: 'on',
	        hideTimerBar:'on',
		});
	}
	*/
      var owl = $("#owl-demo");

      owl.owlCarousel({
	 
		// Most important owl features
		items : 4,
		itemsCustom : false,
		itemsDesktop : [1199,4],
		itemsDesktopSmall : [980,3],
		itemsTablet: [768,2],
		itemsTabletSmall: false,
		itemsMobile : [479,1],
		singleItem : false,
		itemsScaleUp : false,
	 
		//Basic Speeds
		slideSpeed : 200,
		paginationSpeed : 800,
		rewindSpeed : 1000,
	 
		//Autoplay
		autoPlay : true,
		stopOnHover : true,
	 
		// Navigation
		navigation : false,
		navigationText : ["prev","next"],
		rewindNav : true,
		scrollPerPage : false,
	 
		//Pagination
		pagination : false,
		paginationNumbers: false,
	 
		// Responsive 
		responsive: true,
		responsiveRefreshRate : 200,
		responsiveBaseWidth: window,
	 
		// CSS Styles
		baseClass : "owl-carousel",
		theme : "owl-theme",
	 
		//Lazy load
		lazyLoad : false,
		lazyFollow : true,
		lazyEffect : "fade",
	 
		//Auto height
		autoHeight : false,
	 
		//JSON 
		jsonPath : false, 
		jsonSuccess : false,
	 
		//Mouse Events
		dragBeforeAnimFinish : true,
		mouseDrag : true,
		touchDrag : true,
	 
		//Transitions
		transitionStyle : false,
	 
		// Other
		addClassActive : false,
	 
		//Callbacks
		beforeUpdate : false,
		afterUpdate : false,
		beforeInit: false, 
		afterInit: false, 
		beforeMove: false, 
		afterMove: false,
		afterAction: false,
		startDragging : false,
		afterLazyLoad : false
	 
	})
      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000);
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })


    });
    </script>


    <script src="/scripts/template/front/owl/js/bootstrap-collapse.js"></script>
    <script src="/scripts/template/front/owl/js/bootstrap-transition.js"></script>
    <script src="/scripts/template/front/owl/js/bootstrap-tab.js"></script>

    <script src="/scripts/template/front/owl/js/google-code-prettify/prettify.js"></script>
	<script src="/scripts/template/front/owl/js/application.js"></script>

    <!-- Slick Slider -->
    <script type="text/javascript" src="/scripts/template/front/js/slick.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            "use strict";

            jQuery('.fullwidth_slider').show().revolution({
                sliderType:"standard",
                jsFileLocation:"revolution/js/",
                sliderLayout:"fullwidth",
                delay:9000,
                gridwidth:1170,
                gridheight:650,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "custom_gt3",
                        enable: false,
                        hide_onmobile: true,
                        hide_onleave: true,
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 50,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 50,
                            v_offset: 0
                        }
                    },
                    bullets: {
                        style: "custom_gt3",
                        enable: false,
                        hide_onmobile: false,
                        hide_onleave: true,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 30,
                        space: 10,
                        tmp:''
                    }
                },
                fullScreenOffsetContainer: ""
            });

            jQuery(".carouselslider").slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 500,
                arrows: false,
                dots: true
            });
        });
		
        $(document).ready(function() {

            $(window).load(function() {

                $('#loadOverlay').fadeOut('slow');

            })

        })

    </script>
    
    <script>
	// Plugin invoke
	$(document).ready(function () {
		$("#popup-2").slickModals({
			// Functionality
			popupType: "scrolled",
			delayTime: 1000,
			exitTopDistance: 40,
			scrollTopDistance: 400,
			setCookie: true,
			cookieDays: 0,
			cookieTriggerClass: "setCookie-1",
			cookieName: "slickModal-1",
	
			// Overlay options
			overlayBg: true,
			overlayBgColor: "rgba(0,0,0,0.85)",
			overlayTransition: "ease",
			overlayTransitionSpeed: "0.4",
	
			// Background effects
			bgEffect: "scale",
			blurBgRadius: "2px",
			scaleBgValue: "1",
	
			// Window options
			windowWidth: "500px",
			windowHeight: "300px",
			windowLocation: "center",
			windowTransition: "ease-in-out",
			windowTransitionSpeed: "0.4",
			windowTransitionEffect: "zoomIn",
			windowShadowOffsetX: "0",
			windowShadowOffsetY: "0",
			windowShadowBlurRadius: "20px",
			windowShadowSpreadRadius: "0",
			windowShadowColor: "rgba(0,0,0,0.3)",
			windowBackground: "rgba(255,255,255,1)",
			windowRadius: "12px",
			windowMargin: "30px",
			windowPadding: "30px",
	
			// Close and reopen button
			closeButton: "icon",
			reopenClass: "openSlickModal-2",
		});
	});
</script>