<div class="col-md-12 col-sm-12">
<div class="noticeboard">
                <div>
                    <div style="" class="table-responsive table-adjusment ">
                        <table class="table table-hover">

                            <input type="hidden" class="form-control" name="patient_id" value="<?php echo $patient_details['patient_id']; ?>">
                            <input type="hidden" class="form-control" name="app_id" value="<?php echo $this->uri->segment(3); ?>">

                            <div class="table-header ">
                                <div class="input-group dept-input table-head">
                                    <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp; &nbsp;
                                    <?php 
                                        if($this->session->userdata('department_id')=='15')
                                            echo 'Sign & Symptom';
                                        else
                                            echo 'General Physical Examination';
                                    ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                                    <div class="form-group">
                                        <label for="patient-name" class="control-label">Appearance :</label>
                                        <div class="email-profile inline-block">
                                            <input type="text" class="form-control" name="appearance" id="bp" value="<?php if(isset($prescription_fav)){echo $prescription_fav['appearance'];}?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="patient-name" class="control-label">Pulse :</label>
                                            <div class="email-profile inline-block">
                                                <input type="text" class="form-control" name="pulse" id="temperature" value="<?php if(isset($prescription_fav)){echo $prescription_fav['pulse'];}?>">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="patient-name" class="control-label">BP :</label>
                                            <div class="email-profile inline-block">
                                                <input type="text" class="form-control" name="bp" id="disease" value="<?php if(isset($prescription_fav)){echo $prescription_fav['bp'];}?>">
                                            </div>
                                    </div>
                                   
                                                                   

                                                                                                                
                            </div>
                            <div class="col-md-6">
                                
                                <div class="form-group">
                                     <label for="patient-name" class="control-label">Respiration :</label>
                                         <div class="email-profile inline-block">
                                                <input type="text" class="form-control" name="respiration" id="bp" value="<?php if(isset($prescription_fav)){echo $prescription_fav['respiration'];}?>">
                                        </div>
                                </div>            
                                <div class="form-group">
                                    <label for="patient-name" class="control-label">Temp :</label>
                                        <div class="email-profile inline-block">
                                            <input type="text" class="form-control" name="temperature" id="pulse" value="<?php if(isset($prescription_fav)){echo $prescription_fav['temperature'];}?>">
                                        </div>
                                </div>
                                                                         
                                 <div class="form-group">
                                        <label for="patient-name" class="control-label">Others :</label>
                                            <div class="email-profile inline-block">
                                                <input type="text" class="form-control" name="others" id="temperature" value="<?php if(isset($prescription_fav)){echo $prescription_fav['others'];}?>">
                                            </div>
                                </div>                                                  
                                                                                    
                                                                                        

                                                                                                       
                                                                                                            
                                                                                                            

                            </div>
                        </table>
                    </div>
                </div>

                <div class="">

                </div>
            </div>

            </div>