 <div class="col-sm-12">
                                <div class="noticeboard">
                                   
                                        <div class="table-responsive table-adjusment">
                                            <table class="table table-hover">

                                               

                                                <div class="table-header ">
                                                    <div class="input-group dept-input table-head">
                                                        <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp; &nbsp;Systemic Examination (ENT)
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="height: 600px">
                                                    <div class="form-group">
                                                        <h3><u><b>Ear </b></u></h3>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="" style="font-size: 16px;">1.  Otoscopic / otoendoscopic/Miscroscopic examination:</label>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label1">a.  EAC : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_eac" id="eac" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_eac'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label1">b.  TM :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_tm" id="tm" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_tm'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="" style="font-size: 16px;">2.  Tuning Fork Test: </label>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label1">a.  Rinne: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_rinne" id="rinne" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_rinne'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label1">b.  Weber: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_weber" id="weber" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_weber'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label1">c.  ABC:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_abc" id="abc" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_abc'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="" style="">3.  Facial N test:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_facial" id="facial_n_test" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_facial'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="" style="">4. Others: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_others" id="others" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_others'];}?>">
                                                        </div>
                                                    </div>

                                                </div class="col-md-6">
                                                <div class="col=md-6">
                                                    <div class="form-group">
                                                        <h3><u><b>Nose & PNS</b></u></h3>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="patient-name" class="">1.   Anterior Rhinoscopy: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="entanterior" id="anterior_rhinoscopy" value="<?php if(isset($prescription_fav)){echo $prescription_fav['entanterior'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">2.   Posterior Rhinoscopy:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_posterior" id="posterior_rhinoscopy" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_posterior'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">3.   Nasal Probing:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_nasal" id="nasal_probing" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_nasal'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">4.   Nasendoscopy: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_nasendoscopy" id="nasendoscopy" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_nasendoscopy'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">5.   Tranillumination Test:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_tranillumination" id="tranillumination" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_tranillumination'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">6.   Others: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_others_nose" id="others" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_others_nose'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <h3><u><b>Throat & Neck</b></u></h3>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="patient-name" class="">  1.  Indirect Laryngoscope: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_indirect" id="indirect_laryngoscope" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_indirect'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">2.   Fiber Optic Laryngoscope:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="ent_fiber" id="fiber_optic" value="<?php if(isset($prescription_fav)){echo $prescription_fav['ent_fiber'];}?>">
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                             </table>
                                   
                                  
                                </div>
                                </div>