 <div class="col-sm-12">
                                <div class="noticeboard">
                                   
                                        <div class="table-responsive table-adjusment">
                                            <table class="table table-hover">

                                               

                                                <div class="table-header ">
                                                    <div class="input-group dept-input table-head">
                                                        <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp; &nbsp;Systemic Examination (Psychiatry)
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="height: 1400px">
                                                    <div class="form-group">
                                                        <h3><u><b>Nervous System Exam</b></u></h3>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">Higher Psychic Function :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="higher_psychic_func" id="higher_psychic_func" value="<?php if(isset($prescription_fav)){echo $prescription_fav['higher_psychic_func'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">Cranial Nerves : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="cranial_nerve" id="cranial_nerve" value="<?php if(isset($prescription_fav)){echo $prescription_fav['cranial_nerve'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">Sensory System:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="sensory_system" id="sensory_system" value="<?php if(isset($prescription_fav)){echo $prescription_fav['sensory_system'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">Motor System :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="motor_sys" id="motor_sys" value="<?php if(isset($prescription_fav)){echo $prescription_fav['motor_sys'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">Cerebellar Function: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="cerebellar_func" id="cerebellar_func" value="<?php if(isset($prescription_fav)){echo $prescription_fav['cerebellar_func'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">Signs of Meningeal Irritation :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="sign_of_meningeal" id="sign_of_meningeal" value="<?php if(isset($prescription_fav)){echo $prescription_fav['sign_of_meningeal'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">Others: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="psy_others" id="others" value="<?php if(isset($prescription_fav)){echo $prescription_fav['psy_others'];}?>">
                                                        </div>
                                                    </div>

                                                </div class="col-md-6">
                                                <div class="col=md-6">
                                                    <div class="form-group">
                                                        <h3><u><b>MSE</b></u></h3>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Appearance : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="appearance_mse" id="appearance" value="<?php if(isset($prescription_fav)){echo $prescription_fav['appearance_mse'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Eye to eye contact:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="eye_to_eye_con" id="eye_to_eye_con" value="<?php if(isset($prescription_fav)){echo $prescription_fav['eye_to_eye_con'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Gaze :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="gaze" id="gaze" value="<?php if(isset($prescription_fav)){echo $prescription_fav['gaze'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Posture: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="posture" id="posture" value="<?php if(isset($prescription_fav)){echo $prescription_fav['posture'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Co-operation :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="co_operation" id="co_operation" value="<?php if(isset($prescription_fav)){echo $prescription_fav['co_operation'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Behavior: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="behavior" id="behavior" value="<?php if(isset($prescription_fav)){echo $prescription_fav['behavior'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Orientation to time, place, person: : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="orientation" id="orientation" value="<?php if(isset($prescription_fav)){echo $prescription_fav['orientation'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <h5><b>Speech</b></h5>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">a. Rate & quantity :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="rate_quantity" id="rate_quantity" value="<?php if(isset($prescription_fav)){echo $prescription_fav['rate_quantity'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">b. Flow of speech : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="flow_of_speech" id="flow_of_speech" value="<?php if(isset($prescription_fav)){echo $prescription_fav['flow_of_speech'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">c. Difficulties with speaking:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="diff_with_speaking" id="diff_with_speaking" value="<?php if(isset($prescription_fav)){echo $prescription_fav['diff_with_speaking'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">d. Content of speech:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="content_of_speech" id="content_of_speech" value="<?php if(isset($prescription_fav)){echo $prescription_fav['content_of_speech'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Mood: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="mood" id="mood" value="<?php if(isset($prescription_fav)){echo $prescription_fav['mood'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <h5><b>Thought Disturbances</b></h5>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">a. Delusion : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="delusion" id="delusion" value="<?php if(isset($prescription_fav)){echo $prescription_fav['delusion'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">b. Obsession:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="obsession" id="obsession" value="<?php if(isset($prescription_fav)){echo $prescription_fav['obsession'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">c. Compulsion :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="compulsion" id="compulsion" value="<?php if(isset($prescription_fav)){echo $prescription_fav['compulsion'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <h5><b>Perceptual Disturbance</b></h5>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label">a. Hallucination : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="hallucination" id="delusion" value="<?php if(isset($prescription_fav)){echo $prescription_fav['hallucination'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="control-label"> b. Illusion:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="iiiusion" id="obsession" value="<?php if(isset($prescription_fav)){echo $prescription_fav['iiiusion'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <h3><u><b></b></u></h3>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Memory : </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="memory" id="memory" value="<?php if(isset($prescription_fav)){echo $prescription_fav['memory'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Attention & concentration:</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="att_n_con" id="att_n_con" value="<?php if(isset($prescription_fav)){echo $prescription_fav['att_n_con'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Insight :</label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="insight" id="insight" value="<?php if(isset($prescription_fav)){echo $prescription_fav['insight'];}?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="patient-name" class="">Others: </label>
                                                        <div class="email-profile inline-block">
                                                            <input type="text" class="form-control" name="psy_others_2" id="others" value="<?php if(isset($prescription_fav)){echo $prescription_fav['psy_others_2'];}?>">
                                                        </div>
                                                    </div>

                                                </div>
                                             </table>
                                   
                                  
                                </div>
    </div>

</div>